body{
    background-color: gray;
}

#navcontainer{
    width: 100vw;
    min-height: 45px;
    background-color: black;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: fixed;
    top: 0;
    z-index: 10000 !important;
}

#threedotline{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 5px 0;  
}

#maincontainer{
    color: black;
}

p{
    text-align: justify;
    line-height: 2rem;
}

#lastcontent{
    display: flex;
    margin-top: 50px;
}

#rightbox{
    padding-top: 50px;
    padding-left: 60px;
}

#lastcontent p{
    color: white;
}

#aboutus p{
    color: white;
    margin-top: 50px;
}

#aboutus span{
    color: white;
}

#aboutbox{
    border-top: 3px solid rgb(247, 243, 9);
}

#footersection{
    display: flex;
    justify-content: space-between;
}

#footersection span{
    margin: 5px;
}

#footerleft{
    margin-top: 5px; 
    margin-left: 100px;
}

#footerleft p{
    color: white;
}

#footerright{
    margin-top: 10px;
}

#footerright a{
    text-decoration: none;
}

span{
    color: white;
}

a{
    text-decoration: none;
}

h4{
    font-weight: bold;
}

h5{
    font-weight: bold;
    color: black;
}

ul{
    color: white;
}

#firstul p{
    color: black;
    line-height: 5px;
}

#secondul p{
    color: black;
    line-height: 5px;
}

#thirdul p{
    color: black;
    line-height: 2rem;
}

#fourthul p{
    color: black;
    line-height: 5px;
}

#fourbox h5{
    color: white;
}